.aboutMeTxt {
    font-size: 20px;
    margin-bottom: 30px;
}

.contactWays {
    font-size: 20px;
    color: rgb(0, 180, 0);
    margin-bottom: 10px;
}

.contact {
    color: rgb(0, 180, 0);
    font-size: 18px;
    margin-bottom: 5px;
}

.aboutContainer {
    padding: 15px;
}